*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    font-family: Manrope;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.main{
    background-color: #1d1c1c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    backdrop-filter: blur(100px);
  
}

.micro{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #7919b2, #fbbc77 120%);
    box-shadow: inset 5px 10px 10px #f0f0f080;
    padding: 10px 10px;
}

.part{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.line{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #1d1c1c;
    margin-top: 25px; 
    font-size: 18px;
    gap: 12%;

   
}

.mainList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%; 
}

.anch{
    /* padding-left: 30px; */
}

.image{
    /* background-color: #000; */
    position: relative;
    font-size: 30px;
    padding-left: 30px;
    width: 100px;
    cursor: pointer;
    margin-left: 80px;
}

.list{
    display: flex;
    gap: 12%;
    list-style: none;
}

.an{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.but{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    gap: 5px;
    align-items: center;
}

.but1{
    background-color: #fff;
    color: rgb(17, 17, 17);
    width: 90px;
    min-height: 38px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.but2{
    background-color: #000;
    /* color: #fff; */
    border: 1px solid purple;
    width: 110px;
    min-height: 38px;
    border-radius: 10px;
    text-align: center;
}

.but3{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.flow{
    position: inherit;
    display: flex;
    justify-content: space-between;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 19px, 0px);


}

.flow-1{
    width: 100%;
    height: auto;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
    animation: example 4s infinite;

}

.flow-2{
    width: 100%;
    height: 590px;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
    animation: example 4s infinite;
    left: ;
}

.opt{
    display: flex;
    justify-content: center;
    font-size: 30px;
    /* width: 100%; */
   
}

.opt1{
    font-size: 62px;
    width: 60%;
    text-align: center;
    margin-top: -490px;
    position: relative;
    z-index: 3
}

.paid{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -250px;
}

.paid1{
    width: 50%;
    font-size: 23px;
    text-align: center;
}

.get-started{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.micro1{
    background-color: #c266f7;
    /* color: #fff; */
    width: 150px;
    min-height: 45px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 10px; */
}

.micro2{
    background-color: #7919b2, #fbbc77;
    color: #fff;
    width: 150px;
    min-height: 45px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 10px; */
}
    
    .micro2{
        background-color: rgb(17, 17, 17);
        /* color: #fff; */
        border: 1px solid purple;
        width: 150px;
        min-height: 45px;
        border-radius: 10px;
        text-align: center;
        /* cursor: pointer; */
    }

    .mini{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .tagg{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 2%;
        margin-top: 30px;
        /* color: #fff; */
        text-align: center;
        min-height: 50px;
    }

    .tag{
        width: 120px;
        max-width: 140px;
        background-color: rgb(17, 17, 17);
        /* color: #fff; */
        border: 1px solid #645e5e;
        border-radius: 25px;
    }

    .tags{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }

    .incubate{
        display: flex;
        justify-content: center;
        gap: 20%;
        width: 1300px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .seedify{
        display: flex;
        justify-content: center;
        width: 140px;
        margin-top: 15px;
    }

    .launch{
        text-align: center;
    }

    .seed{
        display: flex;
       width: 300px;
       gap: 10%;
       margin-top: 20px;
    }


    .see1{
        width: 100%;
    }

    .see2{
        width: 100%;
        /* min-height: 200px; */
    }

    .see3{
        width: 100%;
    }

    .code{
        position: relative;
        width: 1200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 180px;
    }

    .code1{
        width: 100%;
        transform: translate3d(0px, 0px, 0px) rotateX('14.7332deg') !important;
        transform-style: preserve-3d;
    }

    .optim{
        display: flex;
        justify-content: center;
        position: relative;
        width: 50%;
        max-height: 100%;
        margin: 0 auto;
        gap: 10%;
        margin-bottom: 150px;
    }

    .opti{
        width: 180px;
        height: 318px;
    }

    .sent{
        gap: 10%;
    }

    .tangible{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 46px;
        font-weight: bold;
    }

    .phase{
        font-size: 20px;
    }

    .phase span{
        color: orange;
    }

    .machine{
        display: flex;
        /* justify-content: center; */
        width: 50%;
        font-size: 35px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }

    .machine1 span{
        width: 100%;
        color: #77fbc8;
    }

    .wrapper{
        width: 100%;
        /* flex-wrap: wrap; */
        /* width: 33%; */
    }

    .wrap{
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        width: 100%;
        margin-top: 50px;
        padding-left: 25px;
        margin-bottom: 30px;
    }

    .para{
        font-size: 16px;
        text-align: left;
        font-weight: bold;
        padding-left: 25px;
    }

    .wrapp{
        /* position: fixed; */
        display: flex;
        justify-content: center;
        gap: 1%;
        margin: 0 auto;
    }

    .wrap1{
        background-color: #101318;
        color: #fff;
        width: 400px;
        min-height: 320px;
        border: 1px solid purple;
        border-radius: 10px;
        text-align: center;
    }

    .wrapp2{
        display: flex;
        justify-content: center;
        gap: 1%;
        margin-top: 20px;
    }

    /* .color1{
        width: 200px;
        height: 200px;
        background: linear-gradient(90deg, rgb(57 8 60) 0%, rgb(141 11 163) 35%, rgb(209 16 235) 100%);
        background-color: #8e00ff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(150px);
    }

    .color2{
        background-color: orange;
    }
 */

 .first{
    width: 300px;
 }
   
.product{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

.pro{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.dash{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.user{
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
}

.items{
    width: 50%;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    
}

.ticker{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.goto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 90px;
    height: 30px;
    border-radius: 6px;
    gap: 10px;
    padding-left: 8px;
    margin-bottom: 150px;
}

.ahead{
    color: #000;
    text-decoration: none;
}

.editor{
    text-align: center;
    margin-bottom: 60px;
}

.edit{
    font-size: 22px;
    margin: 0 auto;
}

.edit2{
    margin-bottom: 50px;
}

.edit span{
    background-color: orangered;
    /* width: 40%; */
    font-size: 15px;
    border-radius: 8px;
    padding-bottom: 8px;
}

.combines{
    font-size: 15px;
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
}

.itemList{
    display: flex;
    justify-content: right;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 30px; */
    /* margin: 0 auto; */
}

.itemList2{
        width: 40%;
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        margin-bottom: 70px;
}

.itemList3{
        width: 40%;
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        margin-bottom: 70px;
}

.itemList4{
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 70px;
}

.itemList5{
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}

.intro{
    width: 203px;
    margin: 0 auto;
}

.pioneer{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.pioneer span{
    color: orangered;
}

.discover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    width: 160px;
    height: 35px;
    border-radius: 6px;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    padding-left: 17px;
    margin-bottom: 70px;
}

.team{
    text-align: center;
}

.meet{
    font-size: 40px;
    margin-bottom: 50px;
}

.meet span{
    color: orangered;
}

.cover{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 150px;
}

.founder{
    font-size: 22px;
    text-align: left;
    padding-left: 25px;
}

.details{
    font-size: 20px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.questions{
    /* margin: 0 auto; */
    text-align: center;
}

.frequent{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.gpt{
    background-color: #28282896;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #1d1c1c;
    width: 800px;
    height: 65px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* text-align: start; */
}

.microg{
    font-size: 16px;
    font-weight: bold;
}

.gpt1{
    gap: 30%;
}

.gpt2{
    gap: 11%;
}

.gpt3{
    gap: 36%;
}

.gpt4{
    padding-left: 23px;
}

.img{
    padding-right: 30px;
}

.gpt5{
    gap: 26%;
}

.arrow{
    display: flex;
    gap: 8%;
    padding-top: 5px;
    color: #fff;
}

.call{
    position: relative;
    background-color: #110112;
    color: #fff;
    text-align: center;
    /* border: 1px solid #110112; */
    margin-bottom: 100px;
    height: 310px;
}

.smallerimg{
    position: inherit;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 19px, 0px);
}

.small1{
    width: 280px;
    height: auto;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
    animation: example 4s infinite;
}

.small2{
    width: 390px;
    height: 286px;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    opacity: 1;
    animation: example 4s infinite;
}

.bot{
    font-size: 42px;
    width: 50%;
    font-weight: 500;
    margin: 0 auto;
    margin-top: -210px;
    position: relative;
    z-index: 3;
    margin-bottom: 20px;

}

.bot span{
    font-style: italic;
}

.elevate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13.5px;
    width: 100%;
    margin-bottom: 40px;
    letter-spacing: 10px;
    z-index: 2;
}

.overall{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.paragraph{
    font-weight: bold;
}

.mainimg{
    display: flex;
    gap: 0;
    margin-bottom: 18px;
}

.lastimg{
    padding-left: 30px;
    width: 100px;
}

.audit{
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    margin-bottom: 18px;
}

.coding{
    font-size: 17px;
    width: 75%;
    margin-bottom: 30px;
}

.join{
    display: flex;
    font-weight: bold;
    gap: 4%;
}

.plat{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.plat1{
    margin-bottom: 15px;
}

.tinted{
    color: #ffffff80;
    text-decoration: none;cursor: pointer;
}

.short{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.add{
    display: flex;
    justify-content: space-around;
    padding-right: 45px;
    gap: 5%;
    margin-bottom: 80px;
}

.address{
    color: #ffffff80;
    font-size: 18px;
    max-width: 415px;
}

.social{
    width: 523px;
    display: flex;
    justify-content: center;
    gap: 5%;   
}

.linked{
    width: 100%;
    height: 85px;
    /* gap: 7%; */
}

.copy{
    text-align: center;
    margin-bottom: 80px;
}

/* .line{
    background-color: #fff;
    width: 300px;
    color: #fff;
    line-height: 50px;
} */

.link{
    color: #fff;
}

.navBar{
    display: none;
}

.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e0b0bba;
  }

  .nav1{
    /* padding: 20px; */
    width: 45%;
      height: 100%;
      background-color: #fff;
      font-size: 16px;
      color: #fff;
      padding: 2px 8px;
  }

  .options{
    list-style: none;
  }

  .col1{
        color: #000;
        text-decoration: none;
        padding-left: 5px;
        z-index: 3;
   }

@keyframes example {
    0%   {
         transform: rotate(0deg);}
    50%  {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
  }

  html{
    scroll-behavior: smooth;
  }

  /* @keyframes example {
    from {top: 50px;}
    to {top: 0;}
  } */


  @media(max-width: 1024px){
    .main{
        background-color: #1d1c1c;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        backdrop-filter: blur(100px);
      
    }

    .flow-2{
        margin-left: 40px;
    }

    .code{
        width: 770px;
    }

    .gpt6{
        margin-bottom: 115px;
    }

    .wrapper{
        width: 770px;
        margin: 0 auto;
        gap: 20px;
    }

    .wrapp{
        gap: 20px;
    }

    .wrapp2{
        gap: 20px;
    }

    .questions{
        margin-top: 100px;
    }

    .cover{
        width: 770px;
        margin: 0 auto;
        gap: 20px;
    }

    .call{
        width: 770px;
        height: 350px;
        margin: 0 auto;
    }

    .smallerimg{
        width: 170px;
        height: 165px;
    }

    .small1{
        width: 100%;
        height: 100%;
    }

    .small2{
        display: none;
    }

    .bot{
        margin-top: -95px;
    }

    .overall{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .add{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .copyright{
        font-size: 20px;
    }
  }
  @media(max-width: 768px){
    .micro, .line, .list, .but{
        display: none;
    }

    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }

    .bar{
        font-size: 40px;
        width: 80px;
        height: 100%;
    }

    .image {
        position: relative;
        padding-left: 45px;
        width: 100px;
        cursor: pointer;
        margin-left: -20px;
    }

    /* .line {
        display: flex;
        justify-content: space-between;
        background-color: #1d1c1c;
        margin-top: 15px;
        font-size: 12px;
    } */

    /* .mainList{
        gap: 4%;
    }

    .list {
        display: flex;
        gap: 6%;
    } */

    .get-started {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .micro1{
        width: 180px;
    }

    .opt1 {
        font-size: 42px;
        margin-top: -285px;
    }

    .paid1 {
        width: 50%;
        font-size: 21px;
        text-align: center;
        margin-top: 123px;
    }

    .first{
        margin: 0 auto;
    }

    .flow{
        justify-content: center;
        align-items: center;
        gap: 366px;
    }

    .flow-1{
        height: 430px;
        margin-left: -10px
    }

    .flow-2{
        height: 410px;
    }

    .get-started{
        margin-top: 78px;
    }

    .incubate{
    gap: 10%;
    width: 752px;
    margin-bottom: 116px;
    }   

    .code{
        width: 700px;
        /* padding-left: 40px; */
    }

    .optim{
        display: flex;
        flex-direction: column;
    }

    .optim1{
        width: 200px;
        height: 300px;
        margin: 0 auto;
    }

    .opti{
        width: 100%;
        height: 100%;
    }

    .sent{
        margin: 0 auto;
    }

    .tangible{
        font-size: 41px;
        text-align: center;
        margin-top: 70px;
    }

    .wrapper{
        margin-left: 15px;
    }

    .wrapp, .wrapp2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .pioneer{
        text-align: center;
    }

    .cover{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .gpt{
        background-color: #28282896;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #1d1c1c;
        width: 590px;
        height: 75px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 15px;
        /* text-align: start; */
    }

    .gpt6{
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 75px;
        font-size: 15px;
        margin-bottom: 100px;
    } 

    .smallerimg{
        width: 165px;
        height: 150px;
    }

    .small1 {
        width: 100%;
        height: 100%;
    }

    .small2 {
        display: none;
    }   
    
    .call{
        width: 730px;
        height: 200px;
        /* margin-bottom: 90px; */
        /* padding-bottom: 90px; */
        margin: 0 auto;
    }

    .bot {
        font-size: 25px;
        width: 50%;
        font-weight: 500;
        margin: 0 auto;
        margin-top: -95px;
    }   
    
    .elevate {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10.5px;
        width: 100%;
        margin-bottom: 18px;
        letter-spacing: 5px;
        z-index: 2;
        margin-top: 10px;
    }

    .overall {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 90px;
        margin-left: 30px;
    }

    .short{
        font-size: 20px;
    }

    .add{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        gap: 10px;
        margin-bottom: 90px;
    }

    .address{
        margin: 0 auto;
        text-align: center;
    }

    .social{
        width: 250px;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        padding: 5px;
        margin: 0 auto;
        padding-top: 35px;
    }

    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(23.33% - 12px);
        box-sizing: border-box;
        order: 2;
    }

    .but1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        min-height: 18px;
    }

    .but2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        min-height: 20px;
    }
  }

  @media(max-width: 425px){

    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }
    .list, .but, .micro, .line{
        display: none;
    }

    .image1 {
        width: 120px;
        height: 50px;
        margin-top: 10px;
    }
    

    .image{
        width: 100%;
        height: 100%;
        margin-left: -40px;
    }

    .bar{
        font-size: 40px;
        width: 80px;
        height: 100%;
    }

    .flow {
        justify-content: center;
        align-items: center;
        gap: 400px;
    }

        .flow-1{
            width: 345px;
            height: 657px;
            margin-left: 200px;
        }

        .flow-2{
            display: none;
            /* width: 198px;
            height: 280px; */
        }

        .opt{
            display: flex;
            /* justify-content: center; */
            width: 600px;
        }

        .opt1 {
            position: relative;
            font-size: 46px;
            margin-top: -425px;
            width: 100%;
        }

        .paid{
            width: 550px;
            margin-top: -270px;
        }

        .paid1{
            font-size: 22px;
            text-align: center;
            width: 100%;
            padding-left: 103px;
        }

        .get-started{
            display: grid;
            /* justify-content: center; */
            gap: 5%;
        }
    

        .micro1{
            margin-bottom: 15px;
        }

        .micro2{
            margin-bottom: 15px;
        }    
  }

  @media(max-width: 425px){
    .image1{
        width: 120px;
        height: 50px;
    }
    
    .opt{
        width: 400px;
    }

    .paid {
        width: 376px;
        margin-top: -197px;
    }

    .paid1{
        font-size: 20px;
        padding-left: 0px;
    }

    .micro1 {
        margin-bottom: 15px;
        width: 200px;
        height: 60px;
    }

    .micro2{
        margin-bottom: 15px;
        width: 200px;
        height: 60px;
    }

    .tagg {
        font-size: 18px;
        gap: 16px;
        margin-top: 35px;
        text-align: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .tag {
        /* background-color: rgb(17, 17, 17); */
        /* border: 1px solid #645e5e; */
        border-radius: 25px;
        flex: 1 1 calc(33.33% - 10px);
        box-sizing: border-box;
    }

    .incubate{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .incubate1{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

    .launch{
        font-size: 30px;
        margin-bottom: 45px;
    }

    .launch1{
        font-size: 30px;
        margin-bottom: 30px;
        }

        .seed {
            display: flex;
            width: 308px;
            gap: 26px;
            margin: 0 auto;
        }

        .exchange{
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        .code{
            width: 370px;
            padding-left: 0px;
        }

        /* .optim {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            gap: 10px;
            margin-bottom: 150px;
            flex-direction: column;
        } */

        .optim1{                                                                  
            width: 180px;
            height: 100%;
            margin: 0 auto;
        }

        .optim{
            display: flex;
            flex-direction: column;
            width: 300px;
        }

        .opti{
            width: 100%;
            height: 100%;
            margin-bottom: 30px;
        }

        .sent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            margin: 0 auto;
        }

        .tangible{
            text-align: center;
            font-size: 30px;
        }

        .wrapper{
            margin-left: 0px;
            margin: 0 auto;
        }

        .wrapp{
            display: flex;
            flex-direction: column;
            /* width: 435px; */
            gap: 20px;
        }

        .para{
            font-size: 14px;
        }

        .wrap1{
            background-color: #101318;
            color: #fff;
            width: 400px;
            min-height: 250px;
            border: 1px solid purple;
            /* border-radius: 10px; */
            margin: 0 auto;
        }

        .wrapp2{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .meet{
            font-size: 35px;
        }

        .questions{
            margin-top: 50px;
        }

        .cover{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 0 auto;
        }

        .details{
            padding-left: 15px;
        }

        .gpt{
            width: 390px;
        }

        .gpt6{
            display: flex;
            flex-direction: column;
            font-size: 15px;
            margin-bottom: 100px;
        } 

        .call{
            display: flex;
            flex-direction: column;
            width: 385px;
            height: 215px;
            margin: 0 auto;
        } 

        .smallerimg{
            width: 110px;
            height: 100px;
        }

        .small1{
            width: 100%;
            height: 100%;
        }
        
        .small2{
            display: none;
        }

        .bot {
            font-size: 20px;
            font-weight: 500;
            /* margin: 0 auto; */
            margin-top: -50px;
        }

        .elevate{
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .overall{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 100px;
            margin-left: 20px;
        }

        .lastimg{
            padding-left: 0px;
        }

        .add{
            display: flex;
            flex-direction: column;
        }

        .address{
            margin-left: 20px;
            padding-left: 0px;
        }    

        .social{
            width: 165px;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            padding: 5px;
            margin: 0 auto;
            padding-top: 35px;
        }

        .link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: calc(23.33% - 12px);
            box-sizing: border-box;
            order: 2;
        }
  }

  @media(max-width: 375px){
    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 10px 0;
    }

    .image1{
        font-size: 25px;
        width: 120px;
        height: 50px;
    }

    .image{
        width: 100%;
        height: 100%;
    }

    .bar{
        font-size: 40px;
        width: 37px;
        margin-right: 17px;
    }

    .famark{
        width: 100%;
        height: 100%;
    }

    .opt{
        width: 315px;
        margin: 0 auto;
    }

    .opt1{
        position: relative;
        font-size: 35px;
        margin-top: -430px;
        width: 100%;
    }

    .paid {
        width: 289px;
        margin-top: -345px;
    }

    .paid1 {
        font-size: 18px;
        text-align: center;
        width: 100%;
        /* padding-left: 103px; */
    }

        .get-started{
        display: grid;
        gap: 5%;
    }   
    
    .tagg {
        font-size: 18px;
        gap: 10px;
        margin-top: 35px;
        text-align: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .tag {
        background-color: rgb(17, 17, 17);
        /* color: #fff; */
        border: 1px solid #645e5e;
        border-radius: 25px;
        flex: 1 1 calc(33.33% - 10px);
        box-sizing: border-box;
    }

    .incubate{
        display: flex;
        flex-direction: column;
        gap: 10%;
        width: 100%;
        margin-bottom: 116px;
    } 

    .incubate1{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

        .launch1{
            font-size: 25px;
            margin-bottom: 20px;
        }

        .launch{
            font-size: 25px;
            margin-bottom: 45px;
        }
        

        .seed {
            display: flex;
            width: 250px;
            gap: 10%;
            margin: 0 auto;
        }

        .exchange{
            font-size: 20px;
            margin: 0 auto;
            margin-bottom: 45px;
        }
    
    .code{
        width: 347px;
        padding-left: 0px;
        }

        .optim {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            gap: 10px;
            margin-bottom: 150px;
            flex-direction: column;
        }

        .optim1{                                                                  
            width: 150px;
            height: 100%;
            margin: 0 auto;
        }

        .opti{
            width: 100%;
            height: 100%;
        } 

        .sent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 auto;
        }

        .tangible{
            width: 260px;
            text-align: center;
            font-size: 30px;
            margin-top: 5px;
        }

        .phase{
            font-size: 15px;
            width: 235px;
            margin: 0 auto;
            text-align: center;
        }

        .machine {
            width: 100%;
            font-weight: 500;
            /* text-align: center; */
            margin: 0 auto;
            margin-bottom: 80px;
        }

        .machine1{
            font-size: 30px;
        }

        
        .wrapper{
            margin: 0 auto;
        }

        .wrapp{
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-direction: column;
            width: 320px;
            align-items: center;
            text-align: center;
        }

            .wrapp2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 320px;
                gap: 15px;
                flex-direction: column;
                margin: 0 auto;
            }

        .wrap1 {
            background-color: #101318;
            color: #fff;
            width: 100%;
            height: 320px;
            border: 1px solid purple;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 20px;
        }

        .para{
            font-size: 20px;
            text-align: left;
            padding-left: 10px;
        }

        .meet{
            font-size: 20px;
            margin-bottom: 50px;
        }

        .cover {
            flex-direction: column;
            gap: 15px;
            margin: 0 auto;
            width: 320px;
        }

        .details {
            font-size: 13px;
            text-align: left;
            width: 100%;
            margin-top: 20px;
            padding-left: 25px;
        }

        .questions {
            width: 320px;
            margin: 0 auto;
        }

        .frequent {
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 30px;
            margin-top: 40px;
        }

        .microg {
            font-size: 12px;
            font-weight: bold;
        }

        .gpt{
        width: 325px;
        }

        .gpt4{
            gap: 10px;
            padding-left: 0px;
        }

        .gpt6{
            display: flex;
            flex-direction: column;
            font-size: 15px;
        }

        .img{
            padding-right: 10px;
        }

        .call{
            display: flex;
            flex-direction: column;
            width: 340px;
            height: 295px;
            /* margin: 0 auto; */
            margin-left: 15px;
        } 

        .smallerimg{
            width: 110px;
            height: 100px;
        }

        /* .smallerimg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            translate: none;
            rotate: none;
            scale: none;
            transform: translate3d(0px, 19px, 0px);
            position: relative;
            overflow: hidden;
            width: 100px;
        } */

            .small1{
                width: 100%;
                height: 100%;
            }

            .small2{
                display: none;
            }

            .bot {
                font-size: 24px;
                /* width: 100%; */
                font-weight: 500;
                /* margin: 0 auto; */
                margin-top: -50px;
                position: relative;
                z-index: 3;                                                          
            }


            .overall {
                display: flex;
                justify-content: space-around;
                margin-bottom: 100px;
                flex-direction: column;
                margin-top: 90px;
            }

            .column1{
                margin: 0 auto;
                width: 250px;
            }

            .mainimg {
                display: flex;
                gap: 1px;
                margin-bottom: 18px;
            }

            .lastimg {
                /* padding-left: 30px; */
                width: 100px;
            }

            .join{
                margin-bottom: 5px;
                gap: 60px;
            }

            .short{
                font-size: 15px;
            }

            .add {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;            
                width: 300px;
                margin: 0 auto;
            }   

                .social{
                width: 165px;
                display: flex;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
                padding: 5px;
                margin: 0 auto;
            }

            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: calc(23.33% - 12px);
                box-sizing: border-box;
                order: 2;
            }

            .link1{
                width: 100%;
                height: 100%;
                background-color: #000;
                color: #fff;
            }

            .copy{
                margin-top: 50px;
            }

            .copyright{
                margin: 0 auto;
                font-size: 14px;
            }



  }

  @media(max-width: 320px){
        .navBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            padding: 10px 0;
        }

        .image1{
            width: 100px;
            height: 40px;
        }

        .image{
            width: 100%;
            height: 100%;
        }

        /* .bar{
            font-size: 25px;
            width: 60px;
        } */

        .bar{
            font-size: 56px;
            width: 35px;
            margin-right: 24px;
            height: 55px;
        }
    
        .famark{
            width: 100%;
            height: 100%;
        }

        .opt{
        display: flex;
        justify-content: center;
        width: 100%;
    }

        .opt1 {
            position: relative;
            font-size: 40px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

    .paid {
        width: 100%;
    }

    .paid1 {
        font-size: 14px;
        text-align: center;
        width: 80%;
    }

        .get-started {
        display: grid;
        /* justify-content: center; */
        gap: 5%;
    }

    .tagg {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 10px;
        margin-top: 30px;
        /* color: #fff; */
        text-align: center;
        /* min-height: 50px; */
        flex-wrap: wrap;
        padding: 10px;
    }

    .tag {
        /* width: 120px; */
        /* max-width: 140px; */
        background-color: rgb(17, 17, 17);
        /* color: #fff; */
        border: 1px solid #645e5e;
        border-radius: 25px;
        flex: 1 1 calc(33.33% - 10px);
        box-sizing: border-box;
    }

    .incubate {
        gap: 10%;
        width: 100%;
        margin-bottom: 116px;
        flex-direction: column;
    }

    .incubate1{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

        .launch1{
            font-size: 20px;
            margin-bottom: 20px;
        }

        .launch{
            font-size: 20px;
            margin-bottom: 45px;
        }
        

        .seed {
            display: flex;
            width: 250px;
            gap: 10%;
            margin: 0 auto;
        }

        .exchange{
            font-size: 20px;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        .code {
            width: 100%;
            padding-left: 0;
        }

        .code1 {
            width: 100%;
            transform: translate3d(0px, 0px, 0px) rotateX('14.7332deg') !important;
            transform-style: preserve-3d;
            margin: 0 auto;
        }

        .optim {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            gap: 10px;
            margin-bottom: 150px;
            flex-direction: column;
        }

        .optim1{                                                                  
            width: 150px;
            height: 100%;
            margin: 0 auto;
        }

        .opti{
            width: 100%;
            height: 100%;
        }                       

        .sent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 auto;
        }

        .tangible{
            width: 100%;
            text-align: center;
            font-size: 30px;
        }

        .phase {
            font-size: 15px;
            width: 235px;
            margin: 0 auto;
            text-align: center
        }

        .machine {
            width: 100%;
            font-weight: 500;
            /* text-align: center; */
            margin: 0 auto;
            margin-bottom: 80px;
        }

        .machine1{
            font-size: 25px;
        }

        .wrapper{
            margin: 0 auto;
            /* margin-left: 0px; */
            
        }

        .wrapp{
            display: flex;
            justify-content: center;
            /* gap: 15px; */
            flex-direction: column;
            width: 280px;
            margin-left: 23px;
        }

            .wrapp2 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 280px;
                gap: 15px;
                flex-direction: column;
                /* margin: 0 auto; */
                margin-left: 23px;
            }

        .wrap1{
            background-color: #101318;
            color: #fff;
            width: 380px;
            min-height: 250px;
            border: 1px solid purple;
            margin-left: -8px;
        }

        .para{
            font-size: 20px;
            text-align: left;
            padding-left: 10px;
        }

        .meet{
            font-size: 20px;
            margin-bottom: 50px;
        }

        .cover {
            flex-direction: column;
            gap: 15px;
            /* margin: 0 auto; */
            width: 280px;
            margin-left: 27px;
        }

        .wrap1{
            width: 100%;
        }

        .details {
            font-size: 13px;
            text-align: left;
            width: 100%;
            margin-top: 20px;
            padding-left: 25px;
        }

        .questions {
            width: 100%;
            margin: 0 auto;
        }

        .frequent {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 30px;
            margin-top: 40px;
        }

        .microg {
            font-size: 12px;
            font-weight: bold;
        }

        .gpt{
            width: 280px;
        }

        .gpt4{
            gap: 10px;
            padding-left: 0px;
        }

        .gpt6{
            display: flex;
            flex-direction: column;
            font-size: 15px;
        }

        .img{
            padding-right: 10px;
        }

        .call{
            display: flex;
            flex-direction: column;
            width: 280px;
            height: 270px;
            margin: 0 auto;
        }

        .smallerimg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            translate: none;
            rotate: none;
            scale: none;
            transform: translate3d(0px, 19px, 0px);
            position: relative;
            /* overflow: hidden; */
            width: 100px;
            height: 111px;
        }

            .small1{
                width: 100%;
                height: 100%;
            }

            .bot {
                font-size: 23px;
                /* width: 100%; */
                font-weight: 500;
                /* margin: 0 auto; */
                margin-top: -69px;
                position: relative;
                z-index: 3;  
            }


            .overall {
                display: flex;
                justify-content: space-around;
                margin-bottom: 100px;
                flex-direction: column;
                margin-top: 90px;
            }

            .column1{
                margin: 0 auto;
                width: 250px;
            }

            .mainimg {
                display: flex;
                gap: 1px;
                margin-bottom: 18px;
            }

            .lastimg {
                /* padding-left: 30px; */
                width: 100px;
            }

            .join{
                margin-bottom: 45px;
                gap: 60px;
            }

            .short{
                font-size: 15px;
            }

            .add {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;            
                width: 300px;
                margin: 0 auto;
            }   

            .social{
                width: 165px;
                display: flex;
                justify-content: center;
                gap: 10px;
                flex-wrap: wrap;
                padding: 5px;
                margin: 0 auto;
            }

            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: calc(23.33% - 12px);
                box-sizing: border-box;
                order: 2;
            }

            .link1{
                width: 100%;
                height: 100%;
                background-color: #000;
                color: #fff;
            }

            .copy{
                margin-top: 50px;
            }

            .copyright{
                margin: 0 auto;
                font-size: 14px;
            }

}











